.doku
.impressum
  width            desctop-width
  margin           30px auto 0
  padding          20px 40px
  background-color rgba(light-grey,0.9)
  
  h1
    color light-green
  h2 
    color white
  h3
    color white
    
  a
    color black
    text-decoration: none
    &:hover
      color orange