// colors

grey        = #362f2d
light-grey  = #47413f
normal-grey = #525251
dark-grey   = #1c1818
bright-grey = #f2ebde

red         = #ed1c24
orange      = #f26522
yellow      = #fff200
light-green = #afe842
green       = #39b54a

// sizes

desctop-width = 700px

@import "doku"
@import "impressum"

body
  margin                0
  padding               0
  background-color      grey
  color                 white
  font-family           "Open Sans Condensed", sans-serif
  background-image      url(../img/tree.png)
  background-position   center
  background-repeat     no-repeat
  background-size       900px
  background-attachment fixed
  
.title
  color          light-green
  text-transform uppercase
  text-align     center
  font-size      60px
  margin         60px 0 10px 0
  
.text
  margin 0 auto
  width  desctop-width
  font-size 18px
  
.select
  background-color  rgba(255,255,255,0.1)
  background-image  url(../img/stopLight.png)
  background-size   60px
  background-repeat no-repeat
  background-position center 30px
  margin            30px 0 0
  padding           30px
  text-align        center
  vertical-align    top
  
  .selector
    vertical-align  top
    text-decoration none
    display         inline-block
    width           300px
    margin          0 60px
    .title
      font-weight 200
      color       white
      margin      0
    .description
      margin 5px 0 40px 0
      color  white

.nav
  width  desctop-width
  margin 5px auto 20px
  
  .nav-list
    margin     0 
    padding    0
    text-align right
    
  .nav-list-left
    float   left
    margin  0
    padding 0
    
  .nav-item
    list-style   none
    display      inline-block
    margin-right 5px
    
  .nav-link
    color           bright-grey
    text-decoration none